@import "tailwindcss";

:root {
    --color-black: #1E1E1E;
    --color-white: #EEE4D3;
    --color-beige: #C4BFAF;
    --color-red: #802F1D;
    --color-blue: #2C3E50;
    --color-yellow: #C98540;


    --font-size-16-20: clamp(1rem, 0.9144rem + 0.3653vw, 1.25rem);
    --font-size-20-28: clamp(1.25rem, 1.0788rem + 0.7306vw, 1.75rem);
    --font-size-24-32: clamp(1.5rem, 1.3288rem + 0.7306vw, 2rem);
    --font-size-28-40: clamp(1.75rem, 1.4932rem + 1.0959vw, 2.5rem);
    --font-size-32-48: clamp(2rem, 1.6575rem + 1.4612vw, 3rem);
    --font-size-32-56: clamp(2rem, 1.4863rem + 4.1918vw, 3.5rem);
    --font-size-36-48: clamp(2.25rem, 1.9932rem + 1.0959vw, 3rem);
    /* max 48px */
    --font-size-72-144: clamp(4.5rem, 2.9589rem + 6.5753vw, 9rem);
    --font-size-144-175: clamp(9rem, 6.5rem + 4vw, 10.9375rem);
}



img {
    width: 100%;
    height: auto;
}


.picture__grid {
    display: contents;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    /* margin: 0 24px 0 24px; */
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    font-family: "Lora", sans-serif;
    font-size: var(--font-size-16-20);
    line-height: 150%;
    color: var(--color-black);
}

.text-paper {
    color: var(--color-white);
}

h1 {
    color: var(--color-white);
    font-family: "Playfair Display";
    font-size: var(--font-size-32-48);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

h2 {
    color: var(--color-black);
    font-family: "Playfair Display";
    font-size: var(--font-size-32-48);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 38.4px */
}

h3 {
    font-family: "Playfair Display";
    font-size: var(--font-size-20-28);
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 24px */
}

/* header {
    height: 481px;
} */

nav {
    color: var(--color-white);
}

footer {
    padding: 24px 0;
    background-color: var(--color-black);
    /* color: var(--color-white) !important; */
}


footer p {
    color: var(--color-white) !important;
}

.text-year {
    color: var(--color-red);
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: var(--font-size-72-144);
}

.bg-dust {
    background-color: var(--color-beige);
}

.highlight {

    color: var(--color-red);
    font-weight: bold;
}

.highlightY {
    color: var(--color-yellow);
    font-weight: bold;
}

.book {
    min-width: 34px;
    max-width: 60px;
}

.text-book {
    font-size: var(--font-size-16-20);
    line-height: 120%;
    color: var(--color-blue);
    font-weight: bold;
}

.text-manuscript {
    font-size: 12px;
    line-height: 120%;
    color: var(--color-blue);
    font-weight: bold;
}

.title-manuscript {
    font-family: "Playfair Display";
    font-size: var(--font-size-32-48);
    color: var(--color-yellow);
    font-weight: bold;
    opacity: 0.5;
}

.edge {
    width: 30rem !important;
}

.bg-year {
    font-family: "Playfair Display";
    font-weight: bold;
    opacity: 0.2;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 150%;
    transform: translate(-50%, -53%);
    color: var(--color-yellow);
    font-size: var(--font-size-144-175);
}

.text-ink {
    color: var(--color-blue);
}

.love {
    width: 100px;
    height: auto;
}

.text-28-40 {
    font-size: var(--font-size-28-40);
}

.door {
    display: inline-flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    /* background-image: url("../assets/door.png"); */
    background-color: var(--color-white);
}

/* 
.door img {
    opacity: 0.15 !important;
} */

.text-letter {
    color: var(--color-blue) !important;
    font-size: 12px;
    line-height: 120%;
}

.authors {
    width: 100px;
    height: auto;
}


button {
    font-family: "Playfair Display";
    border-radius: 100px;
    border: 1px solid var(--color-black);
    display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Tablet vanaf 600px */


/* iPad breedte tot 834px */
@media (min-width: 768px) {

    h1 {
        font-size: 64px;
    }

    
}

@media (min-width: 1024px) {
    .text-year {
        font-size: 130px;
    }
}

@media (min-width: 1280px) {
    h1 {
        font-size: 128px;
    }
        .text-year {
            font-size: 200px;
        }
}